@use "sass:math";

// Шрифти
@import "_fonts";
// Іконкі
@import "_icons";
// Обнулення
@import "_reset";
// Variables
@import "_variables";
// Миксины
@import "_mixins";
// Функції
@import "_functions";
// Компоненти
@import "_common";
@import "_header";

// @import "_slider";
// @import "_sales";
// @import "_new";
// @import "_save";
// @import "_everyday";
// @import "_top";
// @import "_limelight";
// @import "_feedback";
@import "_footer.scss";

body {
  font-family: "Causten", sans-serif;
  font-size: toRem(16);
  font-weight: 400;
  color: $text-color;
  &.menu-open {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
  main {
    flex-grow: 1;
  }
  @media (max-width: toEm(540)) {
		padding-bottom: toRem(75);
	}
}

[class*="__container"] {
  margin: 0 auto;
  max-width: #{$containerWidth}px;
  padding-left: toRem(15);
  padding-right: toRem(15);
}
